<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p style="font-family:verdana; font-size:25px">This is my Website.<br> </p> <p style="font-family:verdana">My name is Rajiv Muneshwer</p>
    <p style="font-family:verdana"> <br> This is my face</p>
    <img src="/static/rajivPic.jpeg" width="300" height="450" alt= "spicy boi"/>
    <p style="font-family:verdana"> <br> I currently a Freshman sooo what a great first year</p>
    <p style="font-family:verdana"> <br> I want to major in Applied Math because I am a massive nerd</p>
    <br></br>
    <a href="/1006" style="font-family:verdana">Visit the second page</a> 
    <p style="font-family:verdana">  for Assignment Summary</p>
    <br></br>
    <p> <a href="/420" style="font-family:verdana">Visit the third page</a> 
    <p style="font-family:verdana">  for Classes Summary</p>
    <br></br>
    <a href="https://www.wikihow.com/Survive-an-Encounter-with-an-Ostrich" style="font-family:verdana">And finally the most import page on the net</a>
    <br></br>
    <p style="font-family:verdana"> <rb> This page has a randomly generated
    <a href="/123" style="font-family:verdana">  Sudoku Puzzle </a> </p>
    </body>
</html>

