<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p style="font-family:verdana; font-size:25px">This is my Website.<br> </p> <p style="font-family:verdana">My name is Rajiv Muneshwer</p>
    <p style="font-family:verdana"> <br> This is my face</p>
    <img src="/static/rajivPic.jpeg" width="300" height="450" alt= "spicy boi"/>
    <p style="font-family:verdana"> <br> I currently a Freshman sooo what a great first year</p>
    <p style="font-family:verdana"> <br> I want to major in Applied Math because I am a massive nerd</p>
    <a href="/1006" style="font-family:verdana">Visit the second page</a>
    </body>
</html>

