<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Second Page</title>
    <head>
    <body>
    <p style="font-family:verdana; font-size:25px">Assignment's page.<br> </p> 
    <p style="font-family:verdana"> <br> Assignment 1: Part A was a piece set on psuedocode, binary and truth tables. <br> Part B was the most challenging assignment which was the generation of lists.</p>
    <p style="font-family:verdana"> <br> Assignment 2: Part A was the piece set time complexity, iteration and Big O exercise. <br> Part B had a gravity simulator and making the utilities for the machine learning. </p>
    <p style="font-family:verdana"> <br> Assignment 3: Had us implement the recursive flood algorithm, and then the completion of the applications for the machinge learning.</p>
    <p style="font-family:verdana"> <br> Assignment 4: Dealt with Object Oriented Programming. We had to create students, teachers, assignments and classes.<br> Then figure out their average scores and pay </p>
    <p style="font-family:verdana"> <br> MIDTERM: Was concerned with the removing interference from three ppm images by taking the mode of each pixel as well as greyscaling and flipping the image.</p>
    <p style="font-family:verdana"> <br> Assignment 5: Had us finishing off the machine learning of the cancef data. <br>It involved the use of pandas dataframes and seaborn plots, and finally scikitlearn's machine learning algorithm</p>
    <br></br>
    <p style="font-family:verdana"> My favorite assignment was definitely Assignment 3. Before starting the course I had no formal intro to computer science, so I didn't care much for it.
    <br> But as the course progressed and especially after this Assignment I really started to like computer science and I plan on minoring in it now.
    <br> I enjoyed it so much because coming up with the simple but clearer useful recursive algorithm felt gratifying.
    <br> I got the same enjoy that I get when I get a tough math problem out. From there the assignments became definitely more enjoyable
    <br> I enjoyed it so much I started coding to see what other cool stuff I could do. I even made a Sudoku puzzle generator and solver from scratch with no help
    <br> I did not know how to implement in HTML/flask and I ran out of time to do another interesting project so unfortunately I am stuck doing this boring pr assignment/course write up.
    <br> I still included the code in the github because I worked on it for hours so I might as well show it off somewhere :/ </p>
    <br></br>
    <a href="/" style="font-family:verdana">Return to Home Page</a> 
    </body>
</html>


