<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Third Page</title>
    <head>
    <body>
    
    <h2 style="font-family:verdana">Classes Table</h2>
    <table style="width:100%">
      <tr>
        <th style="font-family:verdana">Spring 2020: Classes Taken</th>
      </tr>
      <tr>
        <td style="font-family:verdana">APMA E200 Multivariable Calc.</td>
      </tr>
      <tr>
        <td style="font-family:verdana">ECON UN1105 Principles of Economics</td>
      </tr>
      <tr>
        <td style="font-family:verdana">ENGI E1006 Intro to Comp</td>
      </tr>
      <tr>
        <td style="font-family:verdana">ENGL CC1010 University Writing</td>
      </tr>
      <tr>
        <td style="font-family:verdana">PHYS UN1402 Intro to Optics and Elec/Magnetism</td>
      </tr>
    </table>
    <br></br>
    
    <p style="font-family:verdana"> My favorite class so far has to The Art of Engineering. Do not get me wrong the lectures were boring for the most part,
    <br>but what made it great were the few times that Vallencourt would lecture. Whenever that beautiful, balding got up to lecture it would honestly be captivating.
    <br> I haven't heard great things about his EE class, but think he was an incredible lecture and he really took the pressure off of getting a good grade.
    <br> Also the final project made me realize that I really do like engineering (even miniscule amounts like making a video game)
    <br> Because I was having second thoughts. Honestly though, no class has been bad at all. </p>

    <br></br>
    
    <a href="/" style="font-family:verdana">Return to Home Page</a> 
    </body>
</html>

